{% extends 'base.html' %}

{% block content %}
    <h1>Votre panier</h1>
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in contenu_panier %}
                <tr>
                    <td>{{ item.produit.libellé }}</td>
                    <td>{{ item.produit.prix }}</td>
                    <td>{{ item.quantite }}</td>
                    <td>{{ item.produit.prix * item.quantite }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="text-align:right"><b>Total:</b></td>
                <td>{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
